body {
    background-image: url('images/cloth.png');
    background-size: cover; /* Make the image cover the entire body */
    background-repeat: no-repeat; /* Prevent the image from repeating */
   
  }